<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='#'>BBH</a>
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <%= active_link_to 'Goals', goals_path, wrap_tag: :li %>
        <%= active_link_to 'Categories', categories_path, wrap_tag: :li %>
        <%= active_link_to 'Tasks', tasks_path, wrap_tag: :li %>
      </ul>
    </div>
  </div>
</nav>
